In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('Data.csv')
dataset

,employee_id,name,job_title,department,email,phone_number,date_of_hiring,salary
0,396941,Tammy Valdez,"Administrator, charities/voluntary organisations",supply-chains,oanderson@gibson.com,512-507-0524x1231,2019-05-12,77744
1,289507,Debbie Castaneda,"Designer, blown glass/stained glass",deliverables,davidbrown@krueger-harper.com,(590)110-8719x53241,2013-12-18,85059
2,500857,James Rodriguez,"Psychologist, counselling",users,laurenwilliams@knapp.com,(983)416-3026x6694,2014-05-31,86053
3,501196,Hunter Brown,Data scientist,action-items,kimberly31@anderson.com,300-921-0488,2022-02-03,59217
4,325944,Jamie Williams,Production manager,communities,david13@smith.com,741.564.4209x04454,2021-11-23,62276
...,...,...,...,...,...,...,...,...
1995,994876,Michael Beck,Human resources officer,functionalities,nicholsonjoseph@hood-spencer.com,+1-690-355-9016x164,2021-06-03,97006
1996,996490,Alexandra Fuller,"Merchandiser, retail",applications,caroline74@rush-blankenship.com,(150)181-0844,2018-01-30,58635
1997,409079,Juan Campbell,Training and development officer,functionalities,anthony31@alvarez.biz,001-117-571-6559x6177,2014-12-04,136633
1998,329310,Jessica Howard,Press photographer,e-business,joshua51@mitchell.net,273.080.8744,2019-03-02,124931
1999,461268,Albert Lang,Mining engineer,users,kathyfrye@washington-johnson.net,+1-934-378-1416,2014-09-16,104141

In [3]:
# Memilih kolom yang akan digunakan sebagai DataFrame

data = dataset[["job_title", "department", "salary"]]
data

,job_title,department,salary
0,"Administrator, charities/voluntary organisations",supply-chains,77744
1,"Designer, blown glass/stained glass",deliverables,85059
2,"Psychologist, counselling",users,86053
3,Data scientist,action-items,59217
4,Production manager,communities,62276
...,...,...,...
1995,Human resources officer,functionalities,97006
1996,"Merchandiser, retail",applications,58635
1997,Training and development officer,functionalities,136633
1998,Press photographer,e-business,124931
1999,Mining engineer,users,104141

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   job_title   2000 non-null   object
 1   department  2000 non-null   object
 2   salary      2000 non-null   int64
dtypes: int64(1), object(2)
memory usage: 47.0+ KB

In [5]:
# Mengecek apakah ada NaN atau missing values

data.isna().sum().sum()

0

In [6]:
# Memisahkan data categorical dan int

x = data.iloc[:, :-1].values
y = data.iloc[:, -1].values

In [7]:
print(x)

[['Administrator, charities/voluntary organisations' 'supply-chains']
 ['Designer, blown glass/stained glass' 'deliverables']
 ['Psychologist, counselling' 'users']
 ...
 ['Training and development officer' 'functionalities']
 ['Press photographer' 'e-business']
 ['Mining engineer' 'users']]

In [8]:
print(y)

[ 77744  85059  86053 ... 136633 124931 104141]

In [9]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0, 1])], remainder='passthrough', sparse_threshold=0)
x = np.array(ct.fit_transform(x))

In [10]:
print(x)

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 1. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 1. 0. 0.]]

In [11]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1)

In [12]:
print(x_train)

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

In [13]:
print(x_test)

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 1. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

In [14]:
print(y_train)

[ 77744  92026 122972 ...  63122  57529 145238]

In [15]:
print(y_test)

[148074 146471  68483 138854  76756  93986 137478 121938  48827  86301
 127750 129307 100187  83339 128708 108980 103392  84429  70974  61096
 148188 100839 101171 123865  54960  46790  93211 146803 112334  54342
 127349  67798 104352  53998  38305  80295  37653 139544  49953 124978
  57977  43717  58463  96379  43020  93791  90181  50949 116261 126091
  96687  86830  73557 139210 128717  87725  30428  34268 121596  77622
  50793 100957  88551  33648 103980  38985 141338 101613 136819  31567
  88974  48764 135749  74937 141706  66511  48153  49601  64125 134757
  98184  63038  98958  99347  87248  36858  33168 120863 133844 121144
  40330 133854  59419  33148  37764 143118  98866 111570  37721 123350
  97129  52260  44571  60928  94128 146692  34757 134204  37400  91175
 128396  38254 123255  78253  65502 144882  85118 135131 121371 133443
 104141 139899 128676 129216  66315  52376 107504  93998  61445 135924
  55337 105332  44017  47577 143819  48258 143838 144852 106885 132801
 139616 144261 114977 106836 120474 125919  45941 126058 138278 143286
 101119  75368 141888 146819 141992  61071 109959  50712  93597 148701
  57608 135712  79660  89852  83186 113883  71087  91932 146395  31339
  63571  84134  32769 104188  48926  36243 120039  89514 120626 126238
  85376  74813 138262 143308  83407 111538 112553  83892 103555 146153
  40218 102537  83470 132392 131283 102021  74873 129458  70957 109945
 102391  56190 145254  61728  44315 132736 106172  36648 132479  72560
 126845 137573  77288  83591  40542  34767  90772  65304  42587  75453
 110821  32597 139642 103735 135540 144544  52679  64208  45684  36038
 118437 148338  81601 147296  86677  41491 126470 140057 117071  77565
 115511 132669 101507  91519 120933 127701  86908 109757  70467 143688
 147290 135751 122659 149407  54268  77409 119144  58510  62601 125002
  52898  31818  94244  46842  82541  32132  70321 109728 133433  60519
  43884  80079  66201  30946  64659  96905  32180 129134 149297 109914
  34788  53252 114096  62248  53990  65519  41256  43624 121850  47291
 106843 119119  91641  32880  57492  91624 119172 119836  70705 129974
 141869  68532  36352  34117 102729  95366  51922 133557  87000  91849
  61915  70370  58706  56013  97656  52688 118359  40767  49020  42379
 126392 132204 143539 109106 105054  88738 101215  84513 123001  73867
  85969  32368  87386  81325  84888  59542  83255  71525 136885  98766
  91275  40076 121097  85071  37846  79185 120419  59217 104242  70657
  70152 110773  79138  35787  64721 103708  56863 117375  71910 106755
  65934 131563 147613  75769  67662  58458 116732  60797 135365 116795
 135578 141369  80388 118107 122386 104966  43046  81844  85860  72663
 124933  69552 134037  83200  52616 122509  72862  91505  40025  87448
 114008 148329 106821  55100  92386  71665  86574 120709  51176 112110]

In [16]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train[:, 3:] = sc.fit_transform(x_train[:, 3:])
x_test[:, 3:] = sc.transform(x_test[:, 3:])

In [17]:
print(x_train)

[[ 0.          0.          0.         ... -0.16012815 -0.14285714
  -0.14056247]
 [ 0.          0.          0.         ... -0.16012815 -0.14285714
  -0.14056247]
 [ 0.          0.          0.         ... -0.16012815 -0.14285714
  -0.14056247]
 ...
 [ 0.          0.          0.         ... -0.16012815 -0.14285714
  -0.14056247]
 [ 0.          0.          0.         ... -0.16012815 -0.14285714
  -0.14056247]
 [ 0.          0.          0.         ... -0.16012815 -0.14285714
  -0.14056247]]

In [18]:
print(x_test)

[[ 0.          0.          0.         ... -0.16012815 -0.14285714
  -0.14056247]
 [ 0.          0.          0.         ... -0.16012815 -0.14285714
  -0.14056247]
 [ 0.          0.          0.         ... -0.16012815 -0.14285714
  -0.14056247]
 ...
 [ 0.          0.          0.         ... -0.16012815 -0.14285714
  -0.14056247]
 [ 0.          1.          0.         ... -0.16012815 -0.14285714
  -0.14056247]
 [ 0.          0.          0.         ... -0.16012815 -0.14285714
  -0.14056247]]